$bg : rgb(0, 0, 0);

.banner{
    color: white;
    object-fit: contain;
    height: 448px;
    //  &::after{
    //     content: " ";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     margin-top: 0px;
    //     background: $bg;
    //     opacity: 0.4;
    // }
}
.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    background: transparent;
}
.banner_contents > h1, .banner_description{
    background: transparent;
}



.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description{
    width: 45rem;
    line-height: 1.3;
    // padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

// .banner{
//     // border: 2px solid white;
//     min-height: 65vh;
//     background-color: $bg;
//     background-size: cover;
//     background-repeat: no-repeat;
//     position: relative;

   
// }

.row{
    margin-top: 1.5rem;
    padding: 0 1rem;
    >h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    > div{
        display: flex;
        overflow-x: auto;
    }
    
}
.cols::-webkit-scrollbar {
    display: none;
}

.card{
    
    // height: 30px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px);
        
    }
    margin: 0 0.5rem;
}